<script>
  'use strict';
    var styleHash = {
      <% @photo.image.styles.map{|style| %>
        "<%= style[0].to_s %>": "<%= raw style[1][:geometry] %>",
      <% } %>
   };
 var image_path = "<%= @photo.image.url %>";
</script>

<section id="photo_crop"> 
  <section id="photo_cropper_container">
    <h2 hidden>Photo Cropper</h2>
    <h3>Photo Crop for <%= @photo.id %></h3>
    <%= image_tag @photo.image(:original), :id => 'img_crop', :class => ('img_crop_' + @photo.id.to_s) %>
  </section>


  <section id="cropper_previews">
    <h2 hidden>Preview Windows for cropping</h2>
    <h3>Main Preview</h3>
    <div id="main_preview" class="cropper_preview">
    </div>

    <section id="current_image">
      Current Cropped Image <br />
      
      <div class="loader">
        <div class="square" ></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square "></div>
        <div class="square last"></div>
      </div>


      <%= image_tag @photo.image(:original), :id => 'current_preview' %>
    </section>
  </section>

  <section id="photo_form">
    <h2 hidden>Photo form</h2>
    <%= simple_form_for @photo, remote: true, :url => photo_crop_picture_path(@photo), :html => { :onsubmit => "hidePreview()" } do |f| %>
      <%= f.input :crop_x  %>
      <%= f.input :crop_y  %>
      <%= f.input :crop_h  %>
      <%= f.input :crop_w  %>
      <%= f.input :crop_style, :collection => f.object.image.styles.map{|style| style[0].to_s }, :input_html => { :value => 'medium' }  %>
      <%= f.submit 'Crop Photo' %>
    <% end %>
  </section>
</section>

