<section id="photo_cropper_container">
  <h2 hidden>Photo Cropper</h2>
  <h3>Photo Crop for <%= @photo.id %></h3>
  <%= image_tag @photo.image(:original), :id => 'img_crop', :class => ('img_crop_' + @photo.id.to_s) %>
</section>

<section id="photo_form">
  <h2 hidden>Photo form</h2>
  
  <%= simple_form_for @photo do |f| %>
    <%= f.input :crop_x  %>
    <%= f.input :crop_y  %>
    <%= f.input :crop_h  %>
    <%= f.input :crop_w  %>
    <%= f.input :crop_style, :input_html => { :value => 'medium' }  %>
    
    
    <%= f.submit 'Crop Photo' %>
  <% end %>

</section>

<section id="cropper_previews">
  <h2 hidden>Preview Windows for cropping</h2>
  <h3>Main Preview</h3>
  <div id="main_preview">
  
  </div>
</section>
